#DivIzq {
    margin: auto;
    display: block;
    text-align: left;
    height: 100%;
}

#DivDer {
    margin: auto;
    text-align:left;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px   ;
    height: 100%;
}

#logos{
    width: 16px;
}

#btnRegistros{
    color: black;
    background: white;
}

.boton{
    border-radius: 20px;
    width: 220px;
    height: 30px;
    border: 0cap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px
}

#botonCrearCuenta{
    color: white;
    background:rgb(30, 156, 224);
    font-weight: bold;
}

h1{
    color: white;
    margin: 7px;
}


h4{
    color: white;
    margin: 1px;
}

h6{
    color: white;
}


body{
    display: flex;
    background: rgb(19, 17, 17);
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: auto;
    

}

p{
    color: white;
    font-size: 8px;
}

a{
    font-family: 8px;
    text-decoration: none;
    color: rgb(30, 156, 224);
}

hr{
    display: flex;
    border: none;
    height: 1px;
    background-color: gray;
    width: 150px;
}

#o{
    color: white;
    display: flex;
}

#botonInicioS{
    border:1px solid white;
    color: rgb(30, 156, 224);
    background: rgb(19, 17, 17);
    margin: 1px;
}
h6{
    margin: 1px;
}

@media (max-width:900px){
    body{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        text-align: center;
    }

    #DivIzq{
        width: 100%;
        max-width: 420px;
        text-align: center;
        align-items: center;
        height: 270px;
    }

    #DivDer{
        text-align: center;
        width: 100%;
        max-width: 250px;
        align-items: center;

    }

    footer{
        height: 10%;
    }

}