#DivIzq {
    margin: auto;
    display: block;
    text-align: left;
}

#DivDer {
    margin: auto;
    text-align: left;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#logos {
    width: 16px;
}

#btnRegistros {
    color: black;
    background: white;
}

.boton {
    border-radius: 20px;
    width: 220px;
    height: 30px;
    border: 0cap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px
}

#botonCrearCuenta {
    color: white;
    background: rgb(30, 156, 224);
    font-weight: bold;
}

h1 {
    color: white;
    margin: 7px;
}


h4 {
    color: white;
    margin: 1px;
}

h6 {
    color: white;
}


body {
    display: flex;
    flex-direction: column;
    background: rgb(19, 17, 17);
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
}

footer {
    width: 100%;
    text-align: center;
    padding: 15px;
}


p {
    color: gray;
    font-size: 8px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 120px;
}

#enlaceDesc {
    font-family: 8px;
    text-decoration: none;
    color: rgb(30, 156, 224);
}

hr {
    display: flex;
    border: none;
    height: 1px;
    background-color: gray;
    width: 150px;
}

#o {
    color: white;
    display: flex;
}

#botonInicioS {
    border: 1px solid white;
    color: rgb(30, 156, 224);
    background: rgb(19, 17, 17);
    margin: 1px;
}

h6 {
    margin: 1px;
}

@media (max-width:900px) {
    body {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        text-align: center;
    }

    #main {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        text-align: center;

    }


    #DivIzq {
        width: 100%;
        max-width: 420px;
        text-align: center;
        align-items: center;
        height: 270px;
    }

    #DivDer {
        text-align: center;
        width: 100%;
        max-width: 250px;
        align-items: center;

    }



}