h2{
    color: aliceblue;
    background: #a8ced6;
    border-radius: 3px;
    padding-left: 10px;
    height: 40%;
}

h1{
    background: #6ba3f6;
    color: white;
    text-align: center;
    border-radius: 10px;
}

ba
.boton{
    background: blue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 6px;

}
.boton:hover{
    background: gray;
}

a{
    color: blue;
}
a:hover{
    color: rgb(195, 85, 235);
}

body{
    background: #f5f4f2;
}

div{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40px;
    background: red;
}