    body {
   
    background:#f0f2f5;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    gap:60px;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
  }


  h1 {
    color: #1877f2;
    font-size: 60px;
    margin-bottom: 10px;
    /*#0065e0 */
  }

  .azul {
    border-radius: 5px;
    background: #0866ff;
    color: white;
    text-align: center;
    border: 100px;
    height: 45px;

  }

  .verde {
    border-radius: 5px;
    background: #42b72a;
    color: white;
    border: 100px;
    width: 200px;
    height: 45px;
    margin: 20px auto;

  }


  #Info {
    margin: auto;
    display: block;
    text-align: left;
  }

  fieldset {
    border-collapse: collapse;
    border-radius: 10px;
    background: white;
    border: none;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
  }

  #Registro {
    margin: auto;
    text-align: center;
    width: 400px;
  }

  a {
    font-size: 14px;
    color: #0866ff;
    text-decoration: none;
  }

  .textoP {
    font-size: small;
  }

  input {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #dddef2;
    border-radius: 6px;
    font-size: 17px;
    box-sizing: border-box;
  }

@media (max-width:900px){
    body{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        text-align: center;
    }

    #Info{
        width: 100%;
        max-width: 450px;
        text-align: center;
    }

    #Registro{
        width: 100%;
        max-width: 400px;
    }
}